@use "../../common/colors/colors" as colors;
@use "../../common/mixins/mixins" as mixins;

.footer {
  &__container {
    max-width: 1064px;
    padding: {
      top: 120px;
      bottom: 56px;
    }
    margin: auto;
  }

  &__content {
    @include mixins.flex(
            $gap: 152px,
    );
    margin-bottom: 120px;
  }

  &__logo {
    margin-bottom: 30px;
  }

  &__description {
    max-width: 293px;
    color: colors.$black;
    font: {
      size: 15px;
      weight: 500;
    }
    line-height: 160%;
    opacity: 0.8;
  }

  &__navigation {
    @include mixins.flex(
            $justify-content: space-between,
    );
    flex-grow: 1;

    &-section {
      &-title {
        color: colors.$mellow-apricot;
        font-size: 17px;
        margin-bottom: 20px;
      }

      &-links {
        @include mixins.flex(
                $flex-direction: column,
                $gap: 16px,
        )
      }

      &-link {
        color: colors.$black;
        font: {
          size: 15px;
          weight: 500;
        }
        opacity: 0.8;
      }
    }
  }

  &__social {
    @include mixins.flex(
            $align-items: center,
            $gap: 10px,
    );

    &-icon-box {
      @include mixins.flex(
              $justify-content: center,
              $align-items: center,
      );
      width: 20px;
      aspect-ratio: 1;
    }

    &-icon {
      width: 100%;
      height: 100%;
      object-fit: contain;

      path,
      circle {
        fill: colors.$black;
      }
    }
  }

  &__policy {
    @include mixins.flex(
            $justify-content: space-between,
            $align-items: center,
    );

    &-links {
      @include mixins.flex(
              $gap: 40px,
      )
    }

    &-link {
      color: colors.$black;
      font: {
        size: 15px;
        weight: 500;
      }
      opacity: 0.8;
    }
  }

  &__copyright {
    color: colors.$black;
    font-size: 15px;
    opacity: 0.5;
  }
}