.intro {
  &__title {
    opacity: 0;
    transition: all 1s linear;

    &.visible {
      opacity: 1;
    }
  }

  &__subtitle {
    opacity: 0;
    transition: all 0.5s linear 0.5s;

    &.visible {
      opacity: 0.8;
    }
  }

  &__search {
    gap: 0;
    padding: 8px;
    transition: all 0.8s ease-in-out 1s;

    &.visible {
      gap: 8px;
      padding: {
        top: 8px;
        bottom: 8px;
        left: 20px;
        right: 8px;
      }
    }

    &-input {
      width: 0;
      transition: all 0.8s ease-in-out 1s;

      &.visible {
        width: 264px;
      }
    }
  }
}

.section__title {
  opacity: 0;
  transition: all 1s ease-in-out;

  &.visible {
    opacity: 1;
  }
}

.why-us__card {
  opacity: 0;
  transition: all 0.8s ease-in-out 0.4s;

  &:nth-child(2),
  &:nth-child(3) {
    transform: translateX(-100px);
  }

  &:nth-child(2) {
    transition-delay: 0.6s;
  }

  &:nth-child(3) {
    transition-delay: 0.8s;
  }

  &.visible {
    opacity: 1;
    transform: translateX(0);
  }
}

.best-sell,
.experience,
.materials {
  .more {
    opacity: 0;
    transform: translateX(-50px);
    transition: all 0.4s ease-in-out;

    &.visible {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.best-sell {
  .slider {
    opacity: 0;
    transition: all 1s ease-in-out;

    &.visible {
      opacity: 1;
    }
  }
}

.product-card__image {
  opacity: 0;
  transition: all 0.5s ease-in-out 0.5s;

  &.visible {
    opacity: 1;
  }
}

.experience,
.materials {
  .section__description {
    opacity: 0;
    transition: all 1s ease-in-out;

    &.visible {
      opacity: 1;
    }
  }

  .more {
    transition-delay: 1s;
  }
}

.experience {
  &__image-decoration-1,
  &__image-decoration-2 {
    opacity: 0;
    transition: all 0.5s ease-in-out;

    &.visible {
      opacity: 1;
    }
  }

  &__image-decoration-2 {
    transition-delay: 0.25s;
  }

  .media {
    &__image {
      opacity: 0;
      transition: all 1s linear 0.5s;

      &.visible {
        opacity: 1;
      }
    }

    &__shadow {
      opacity: 0;
      transition: all 0.5s ease-in-out 1s;

      &.visible {
        opacity: 1;
      }
    }
  }
}

.materials {
  &__image-decoration {
    opacity: 0;
    transition: all 0.5s ease-in-out;

    &.visible {
      opacity: 1;
    }
  }

  .media {
    &__image {
      opacity: 0;
      transition: all 1s linear 0.5s;

      &.visible {
        opacity: 1;
      }
    }

    &__shadow {
      opacity: 0;
      transition: all 0.5s ease-in-out 1s;

      &.visible {
        opacity: 1;
      }
    }
  }
}

.testimonial-card {
  opacity: 0;
  transform: scale(0.95);
  transition: all 1s ease-in-out;

  &.visible {
    opacity: 1;
    transform: scale(1);
  }
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}