.experience {
  padding: {
    top: 300px;
    bottom: 270px;
  }

  &__image-box {
    max-width: 602px;
  }

  &__image-decoration-1 {
    left: -13%;
    top: -15%;
    width: 82%;
    height: 95%;
  }

  &__image-decoration-2 {
    right: -12%;
    top: 50%;
    width: 82%;
    height: 68%;
    transform: translateY(-50%);
  }
}
