$black: #1E1E1E;
$black-o06: rgba(0, 0, 0, 0.06);
$grey: #8d8d8d;
$white-o15: rgba(255, 255, 255, 0.15);
$white-o40: rgba(255, 255, 255, 0.4);
$white-o60: rgba(255, 255, 255, 0.6);
$white-o80: rgba(255, 255, 255, 0.8);
$bright-grey: #eee;
$light-grey: #f7f7f7;
$light-grey2: #fafafa;
$white: #fff;
$dark-blue: #0d1b39;
$mellow-apricot: #F6B76F;
$orange: #E58411;
